@import url("https://fonts.googleapis.com/css2family=Dosis:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-size: 1em;
}

/*FIRST SECTION*/
main section:first-child {
  height: 40em;
  background-image: url("./assets/sfondodiv.jpg");
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: center;
}

h1 {
  padding: 2em;
  font-size: 4em;
}

/*SECOND SECTION*/
main section:nth-child(2) {
  background-color: rgb(32, 32, 32);
  color: white;
  padding: 1.2em;
}

h2,
h4 {
  margin: 0;
  font-size: 2.5em;
  padding-top: 2em;
}

main section:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  color: #fa8ea1;
  text-align: justify;
}
main section:nth-child(2) div p {
  margin: 1.2em 1em;
  line-height: 1.4em;
}

/*THIRD SECTION*/
main section:nth-child(3) {
  display: flex;
  justify-content: space-between;
  background-color: #39baa5;
  position: relative;
  height: 40em;
}

main section:nth-child(3) div:first-child {
  background-color: #fa8ea1;
  text-align: justify;
  width: 60%;
  padding: 1.2em;
  line-height: 1.4em;
}

main section:nth-child(3) div:first-child p {
  padding: 3em 15em 3em 3em;
}

main section:nth-child(3) img {
  width: 30%;
  border-start-start-radius: 150px;
  border-end-end-radius: 150px;
  position: absolute;
  right: 16em;
  margin-top: 3em;
  border: 16px solid #39baa5;
}

/*FOURTH SECTION*/
main section:nth-child(4) {
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}

main section:nth-child(4) div {
  width: 30%;
  color: #fa8ea1;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-icon[name="eye-outline"],
ion-icon[name="color-palette-outline"],
ion-icon[name="bar-chart-outline"] {
  font-size: 2em;
  border-radius: 50%;
  padding: 1.5em;
  border: 4px solid white;
}

/*FIFTH SECTION*/
main section:nth-child(5) {
  background-color: #fa8ea1;
  text-align: center;
}

h4 {
  margin-bottom: 2em;
}

main section:nth-child(5) form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 32, 32);
  color: #fa8ea1;
  width: 40%;
  margin: auto;

  padding: 2em;
}

form input,
textarea {
  margin-bottom: 2em;
  background: transparent;
  border-right: 0.5px solid #fa8ea1;
  border-bottom: 2px solid #fa8ea1;
  border-radius: 6px;
}

button {
  background-color: #fa8ea1;
  border-radius: 6px;
  border: none;
}
input:focus-visible,
textarea {
  outline: none;
}

/*FOOTER*/
footer {
  background-color: black;
  color: white;
  padding: 2em;
}

footer p {
  margin: 0;
}
