@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@400;700&display=swap");

html,
body {
  font-family: "Dosis", sans-serif;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4em;
  align-items: flex-start;
}

ion-icon[name="logo-linkedin"],
ion-icon[name="logo-facebook"],
ion-icon[name="logo-instagram"],
ion-icon[name="logo-twitter"] {
  color: #a163d2;
  font-size: 2em;
}

main section:first-child > div:first-child {
  border-radius: 0% 86% 14% 18% / 87% 7% 72% 0;
  background: linear-gradient(#a163d2, #a5b4f9);
  width: 40%;
  color: black;
  padding: 2em;
  box-shadow: 23px 5px 10px rgba(0, 0, 0, 0.3);
}

main section:first-child > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: end;
  margin-top: 1.5em;
  color: #a163d2;
  text-align: justify;
}
/* main section:first-child img {
  border-radius: 0 0 0 100px;
  box-shadow: -20px 19px 12px 0px rgba(0, 0, 0, 0.3);
} */

main section:nth-child(2) {
  position: relative;
}
main section:nth-child(2) > div:first-child {
  width: 150px;
  height: 150px;
  background: linear-gradient(84deg, #a163d2, #a5b4f9);
  border-radius: 50%;
  position: absolute;
  top: -8em;
  left: 0em;
}

main section:nth-child(2) div:nth-child(2) {
  width: 40%;
  margin-top: 1.5em;
  color: #a163d2;
  text-align: justify;
}

main section:nth-child(2) div:nth-child(4) {
  background: linear-gradient(#a163d2, #a5b4f9);
  width: 20%;
  color: black;
  padding: 2em;
}
main section:nth-child(2) div:nth-child(5) {
  width: 60%;
  margin-top: -4.5em;
  color: #a163d2;
  text-align: justify;
  display: flex;
}

main section:nth-child(2) div:nth-child(5) > div {
  margin-left: 1em;
  width: 38%;
}
